<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuracion Prisma
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="prismaForm" (ngSubmit)="startPrisma()">
    <ion-item>
      <ion-label position="floating">Server</ion-label>
      <ion-input required formControlName="server" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Port</ion-label>
      <ion-input required formControlName="port" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Application Token</ion-label>
      <ion-input required formControlName="appToken" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Customer ID</ion-label>
      <ion-input required formControlName="customerId" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Protocol</ion-label>
      <ion-input required formControlName="protocol" type="text"></ion-input>
    </ion-item>
    <br>
    <ion-button block color="primary" type="submit" [disabled]="prismaForm.invalid">
      Cargar Prisma
    </ion-button>
  </form>

</ion-content>